# Este é o arquivo que define os agendamentos do cron.
# Executa o script de bloqueio automático de clientes inadimplentes todos os dias às 00:05 da manhã.
5 0 * * * root /usr/local/bin/python /app/scripts/auto_block_clients.py >> /var/log/cron.log 2>&1

# Um agendamento cron válido precisa de uma linha em branco no final.


