alembic
annotated-types
anyio
bcrypt
certifi
cffi
charset-normalizer
click
colorama
cryptography
dnspython
ecdsa
eight
email-validator
et_xmlfile
fastapi==0.115.8
future
greenlet
h11
httptools
idna
lxml==4.9.3
Mako
MarkupSafe
mysqlclient==2.2.7
openpyxl
passlib[bcrypt]
pillow
pyasn1
pycparser
pydantic==2.10.6
pydantic-settings
pydantic_core
PyMySQL
pyOpenSSL
PyPDF2
python-dotenv
python-jose[cryptography]
python-multipart
PyYAML
qrcode
reportlab
requests
rsa
signxml
six
sniffio
SQLAlchemy==2.0.38
starlette
typing-inspection
typing_extensions
urllib3
uvicorn[standard]==0.34.0
watchfiles
websockets
xmlsec==1.3.16
routeros-api
pyrad==2.4
httpx
librouteros
jinja2
mercadopago==2.2.3
